*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    background: #E5E5E5;
}
.navbar-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background: #274A9D;
    align-items: center;
}
.logo-container{
    margin-top: 75px;
}
.navitens-container{
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    gap: 21px;
}
.navitens-container button{
    display: flex;
    align-items: center;
    padding-left: 13px;
    font-family: 'Jost';
    border: 1px solid #1C3B85;
    width: 136px;
    height: 36px;
    font-size: 16px;
    border-radius: 4px;
    background: none ;
    color: white;
    cursor: pointer;  
    gap: 10px;
}
.navitens-container a{
    text-decoration: none;
}
.head-container{
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
    align-items: center;
    border-bottom: 2px solid #E5EBF1;
    padding-bottom: 26px;
}
.head-itens-container{
    display: flex;
    flex-direction: column;
}
.profile{
    display: flex;
}
#profile_pic{
    object-fit: cover;
    border-radius: 5px ;
    height: 50px;
}
#hello{
    cursor: default;
    margin-left: 20px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin-top: 6px;
}
#logout{
    cursor: pointer;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    margin-left: 20px;
    font-size: 14px;
    color: rgba(117, 127, 152, 1);
    text-decoration: none;
}
section{
    width: 100%;
    margin-right: 50px;
    margin-left: 50px;
}
#back{
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid gray;
    border-radius: 4px;
    background: #BFBFBF;
    color:white;
    border: none;
}
#back2{
    display: none;
}
#title2{
    display: none;
}
.main-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #E5EBF1;
    border-radius: 5px;
    margin-top: 50px;
    height: 350px;
    margin-left: 60px;
    margin-right: 60px;
}
.input_container{
    display: flex;
    flex-direction: column;
}
#title{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #26324B;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.btt{
    display: flex;
    justify-content: end;
    padding-right: 40px;
}
#save{
    width: 150px;
    height: 30px;
    background: #03C874;
    color: #FFFFFF;
    border-radius: 4px;
    font-family: 'Jost';
    font-style: normal;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 324px;
    height: 38px;
}
form{
    display: flex;
    flex-direction: column;
}
.input1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.input1 input{
    background: #FFFFFF;
    border: 1px solid #E5EBF1;
    border-radius: 4px;
    width: 324px;
    height: 38px;
}
label{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #7B828D;
}

@media (max-width: 768px){

    .navbar-container{
        display: none;
    }
    .profile{
        display: none;
    }
    .header_responsive{
        display: flex;
        width: 100%;
    }
    #back{
        display: none;
    }
    #back2{
        display: flex;
    }
    #title{
        display:none;
    }
    #title2{
        display: flex;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        color: #26324B;
    }
    .main-container{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background: none;
        border: none;
        border-radius: 0px;
        margin-top: 30px;
        height: 100%;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .input_container{
        display: flex;
        flex-direction: column;
    }
    .input1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-top: 10px;
        gap: 10px;
    }
    .input1 input{
        background: #FFFFFF;
        justify-content: center;
        border: 1px solid #E5EBF1;
        padding-left: 10px;
        border-radius: 4px;
        width: 324px;
        height: 38px;
    }
    .btt{
        display: flex;
        justify-content: center;
        padding-right: 0px;
        margin-top: 40px;
    }
}