*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    background: #E5E5E5;
}
.navbar-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background: #274A9D;
    align-items: center;
    position: fixed;
}
.logo-container{
    margin-top: 75px;
}
.navitens-container{
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    gap: 21px;
}
.navitens-container button{
    display: flex;
    align-items: center;
    padding-left: 13px;
    font-family: 'Jost';
    border: 1px solid #1C3B85;
    width: 136px;
    height: 36px;
    font-size: 16px;
    border-radius: 4px;
    background: none ;
    color: white;
    cursor: pointer;  
    gap: 10px;
}
.navitens-container a{
    text-decoration: none;
}
.head-container{
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
    align-items: center;
    border-bottom: 2px solid #E5EBF1;
    padding-bottom: 26px;
}
.head-itens-container{
    display: flex;
    flex-direction: column;
}
.profile{
    display: flex;
}
#profile_pic{
    object-fit: cover;
    border-radius: 5px ;
    height: 50px;
}
#hello{
    cursor: default;
    margin-left: 20px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin-top: 6px;
}
#logout{
    cursor: pointer;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    margin-left: 20px;
    font-size: 14px;
    color: rgba(117, 127, 152, 1);
    text-decoration: none;
}
section {
    width: 100%;
    margin-right: 50px;
    margin-left: 250px;
}
#back{
    cursor: pointer;
    width: 140px;
    height: 40px;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    border: 1px solid gray;
    border-radius: 4px;
    background: #BFBFBF;
    color:white;
    border: none;
}
#back2{
    display: none;
}
.main-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #E5EBF1;
    border-radius: 5px;
    margin-top: 30px;
    height: 360px;
    overflow-y: auto;
}
#title{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #26324B;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}
#title_responsive{
    display: none;
}
#title2{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #26324B;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #7B828D;
}
.input_container1{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 15px;
}
.input_container2{
    display: flex;
    flex-direction: column;
    width: 100%;  
    padding-left: 15px; 
}
.form_itens1{
    padding-left: 40px;
    padding-right: 40px;
}
.input1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px dashed rgba(229, 235, 241, 1);  
}
.input1 input{
    background: #FFFFFF;
    border: 1px solid #E5EBF1;
    border-radius: 4px;
    width: 100%;
    height: 38px;
    padding-left: 15px;
}
.form_itens2{ 
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}
.input2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}
.input2 input{
    background: #FFFFFF;
    border: 1px solid #E5EBF1;
    border-radius: 4px;
    width: 100%;
    height: 38px;
    padding-left: 15px;
}
.more_itens_div{
    display: flex;
    width: 50%;
    align-self: end;
    padding-bottom: 20px;
    padding-left: 15px;
}
#more_itens{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 2px solid rgba(39, 74, 157, 1);
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #274A9D;
    cursor: pointer;
}
.baseline{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px dashed rgba(229, 235, 241, 1);
}
.baseline div{
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}
#btt{
    padding-left: 20px;
}
.baseline button{
    height: 39px;
    background: #03C874;
    border: none;
    width: 100%;
    border-radius: 4px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}
.baseline p{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #26324B;
}
@media (max-width: 768px){

    .navbar-container{
        display: none;
    }
    .profile{
        display: none;
    }
    .header_responsive{
        display: flex;
        width: 100%;
        align-items: center;
        height: 50px;
        padding-top: 0;
        margin-top: 0;
    }
    #back{
        display: none;
    }
    #back2{
        display: flex;
    }
    #title{
        display:none;
    }
    #title_responsive{
        display: flex;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        color: #26324B;
        padding-left: 30%;
    }
    #title2{
        display: flex;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        color: #26324B;
        padding-left: 30%;
    }
    .main-container{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background: none;
        border: none;
        border-radius: 0px;
        margin-top: 30px;
        height: 100%;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .input_container{
        display: flex;
        flex-direction: column;
    }
    .input1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-top: 10px;
        gap: 10px;
    }
    .form_itens2{ 
        padding-left: 40px;
        padding-right: 40px;
    }
    .input2{
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
        align-items: center;
    }
    .more_itens_div{
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .baseline{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}