*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    background: #E5E5E5;
}
.navbar-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background: #274A9D;
    align-items: center;
    position: fixed;
}
.logo-container{
    margin-top: 75px;
}
.navitens-container{
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    gap: 21px;
}
.navitens-container button{
    display: flex;
    align-items: center;
    padding-left: 13px;
    font-family: 'Jost';
    border: 1px solid #1C3B85;
    width: 136px;
    height: 36px;
    font-size: 16px;
    border-radius: 4px;
    background: none ;
    color: white;
    cursor: pointer;  
    gap: 10px;
}
.navitens-container a{
    text-decoration: none;
}
.head-container{
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
    align-items: center;
    border-bottom: 2px solid #E5EBF1;
    padding-bottom: 26px;
}
.head-itens-container{
    display: flex;
    flex-direction: column;
}
.profile{
    display: flex;
    width: 100%;
}
#hello{
    cursor: default;
    margin-left: 20px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin-top: 6px;
}
#logout{
    cursor: pointer;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    margin-left: 20px;
    font-size: 14px;
    color: rgba(117, 127, 152, 1);
    text-decoration: none;
}
#logout2{
    display: none;
}
#profile_pic{
    object-fit: cover;
    border-radius: 5px ;
    height: 50px;
}
#add_button{
    width: 150px;
    height: 40px;
    background: #03C874;
    color: #FFFFFF;
    border-radius: 4px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#add_button2{
    display: none;
}
section {
    width: 100%;
    margin-right: 50px;
    margin-left: 250px;
}
.search_list{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    padding-bottom: 15px;
}
#title{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #26324B;
}
#input{
    border: 1px solid #E5EBF1;
    border-radius: 5px;
    background: #FFFFFF;
    width: 300px;
    height: 30px;
    padding-left: 19px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
#input2{
    display: none;
}
.table{
    width: 100%;
    height: 260px;
   
}
.table table{
    border-spacing: 0 20px;
    width: 100%;
}
.table_responsive{
    display: none;
}
.thead{
    margin-top: 10px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #7B828D;
}
.tbody{
    height: 220px;
    border-spacing: 0px 10px;
}
.tbody tr{
    background: #FFFFFF;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #26324B;
    height: 50px;
}
.tbody tr td:first-child{
    padding-left: 10px;
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
}
.tbody tr td:last-child{
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
}
.del_btn{
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 0.875em;
    color: #C27476;
    cursor: pointer;
    width: 6.290625vw;
    height: 5.8236272878535775vh;
    background-color: #FDF6F6;
    border: 1px solid #F7EEEE;
    border-radius: 5px;
    margin-right: 0.625vw;
}
.edit_btn{
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 0.875em;
    color: #5B89C7;
    cursor: pointer;
    width: 5.90078125vw;
    height: 5.8236272878535775vh;
    background-color: #F6FAFD;
    border: 1px solid #EEF1F7;
    border-radius: 5px;
}
#modal{
    display: none;
}
#fade{
    display: none;
}
#modal_edit{
    display: none;
}
#fade_edit{
    display: none;
}

@media (max-width: 768px){
    body{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        background: #E5E5E5;
        
    }
    .navbar-container{
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        justify-content: center;
        height: 75px;
        background: #274A9D;
    }
    .logo-container{
        display: none;
    }
    .navitens-container{
        display: flex;
        flex-direction: row; 
        margin-top: 0px;
        gap: 0px;   
        justify-content: space-around;
        width: 100%;
    }
    .navitens-container button{
        display: flex;
        flex-direction: column;
        padding: 0px;
        border: none;
        font-size: 14px;
        gap: 0px;
    } 
    section{
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .head-container{
        display: flex;
        position:fixed;
        top:0;
        padding-top: 38px;
        margin-top: 0px;
        left:0;
        width: 100%;
        padding-left: 60px;
        border-bottom: 2px solid #E5EBF1;
        padding-bottom: 25px;
        background: #E5E5E5;
    }
    .head-itens-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    #hello{
        width: 30px;
    }
    #logout{
        display: none;
    }
    #logout2{
        display: flex;
        padding-right: 60px;
    }
    #btt{
        display: none;
    }
    main{
        margin-right: 60px;
        margin-left: 60px;
        height: 00px;
        margin-top: 150px;
    }
    .search_list a{
        text-decoration: none;
    }
    #add_button2{
        display: flex;
        height: 30px;
        width: 30px;
        border-radius: 4px;
        background: #03C874;
        color: #FFFFFF;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        border: none;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }
    #input{
        display: none;
    }
    #input2{
        display: flex;
        border: 1px solid #E5EBF1;
        border-radius: 5px;
        background: #FFFFFF;
        width: 100%;
        height: 40px;
        margin-top: 40px;
        padding-left: 19px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }
    .table{
        display:none;
    }
    .table_responsive{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        overflow-y: auto;  
        font-family: 'Jost';
        font-style: normal;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 14px;
    }
    #client{
        display: flex;
        flex-direction: column;
    }
    .tbody_responsive{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: #FFFFFF;
        font-family: 'Jost';
        font-style: normal;
        margin-bottom: 10px;
        padding: 4px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 500;
        font-size: 14px;
        color: #26324B;
        height: 50px;
        border-radius: 5px;
    }
    .tbody_responsive span{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #03C874;
    }
    #cpf, #data{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #BFBFBF;
    }
    #open_details, #open_details2, #open_details3, #open_details4, #open_details5{
        border: none;
        background: none;
        cursor: pointer;
    }
    #fade{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 5;
    }
    #modal{
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        width:100%;
        height: 100%;
        padding: 50px;
        background: #E5E5E5;
    }
    #modal, #fade{
        transition: 0.5s;
        opacity: 1;
        pointer-events: all;
    }
    #modal.hide, #fade.hide{
        opacity: 0;
        pointer-events: none;
    }
    #header_modal{
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
    }
    #open_edit{
        cursor: pointer;
    }
    #header_modal p{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        color: #26324B;
    }
    #inputs_modal{
        display: flex;
        flex-direction: column;
    }
    #modal.hide{
        top: 0;
    }
    label{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #7B828D;
    }
    input{
        border: 1px solid #E5EBF1;
        border-radius: 4px;
        height: 38px;
        padding-left: 15px;
        margin-bottom: 10px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
    }
    #fade_edit{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 5;
    }
    #modal_edit{
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        width:100%;
        height: 100%;
        padding: 50px;
        background: #E5E5E5;
    }
    #modal_edit, #fade_edit{
        transition: 0.5s;
        opacity: 1;
        pointer-events: all;
    }
    #modal_edit.hide, #fade_edit.hide{
        opacity: 0;
        pointer-events: none;
    }
    #header_modal_edit{
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
    }
    #header_modal_edit p{
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        color: #26324B;
    }
    #header_modal_edit button{
        background: none;
        border: none;
        cursor: pointer;
    }
    #inputs_modal_edit{
        display: flex;
        flex-direction: column;
    }
    #modal_edit.hide{
        top: 0;
    }
    #save_edit{
        width: 100%;
        background: #03C874;
        border: none;
        margin-top: 30px;
        height: 38px;
        border-radius: 4px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
        cursor: pointer;
    }
}